 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_coin">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="symbol" class="text-light">Symbol</label>
            <input type="text" name="symbol" value="" placeholder="Tell about coin here....">
        </div>
        <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" name="description" value="" placeholder="Tell about coin here....">
        </div>
        <div class="form-group">
            <label for="logo" class="text-light">Logo</label>
            <input type="file" name="logo" value="" placeholder="Upload logo">
        </div>
        <div class="form-group">
            <label for="marketCap" class="text-light">Market Cap</label>
            <input type="text" name="marketCap" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Price</label>
            <input type="text" name="price" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="launchDt" class="text-light">Launch Date</label>
            <input type="date" name="launchDt" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="presale" class="text-light">Pre Sale</label>
            <input type="text" name="presale" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="bsc" class="text-light">BSC</label>
            <input type="text" name="bsc" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="ethereum" class="text-light">Ethereum</label>
            <input type="text" name="ethereum" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="polygon" class="text-light">Polygon</label>
            <input type="text" name="polygon" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="solana" class="text-light">Solana</label>
            <input type="text" name="solana" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="website" class="text-light">Website</label>
            <input type="text" name="website" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="telegram" class="text-light">Telegram</label>
            <input type="text" name="telegram" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="twitter" class="text-light">Twitter</label>
            <input type="text" name="twitter" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="message" class="text-light">Message</label>
            <input type="text" name="message" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>

        <!-- <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" >
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div> -->

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>